flask
torch
torchvision
firebase-admin
opencv-python-headless
uvicorn
numpy
Pillow
matplotlib
scipy
pyyaml
pandas
git+https://github.com/ultralytics/yolov5.git
ultralytics
requests
fastapi


